<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>


    //Use Axios Libraries
    //Ref: https://blog.logrocket.com/how-to-make-http-requests-like-a-pro-with-axios/

    function pushMe1(){
        console.log("pushMe1()......");

        //Define JS object
        const dataObject = {
            firstName: 'Apple' ,
            lastName:'Banana',
            address:'My Tokyo Japan'
        };


        //Use axios to do ajax's job? Http Request
        axios({
            method: 'post',
            url: 'test',
            data: dataObject

        }).then((response) => {
            //If the promise is fulfilled....
            console.log(dataObject);
            console.log(response);

        }, (error) => {
            //if the promise is rejected
            console.log(error);
        });;
    }


    function pushMe2(){
        console.log("pushMe2()......");
    }

</script>

<head>
    <title>Upload Test</title>
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <h3 style="color:red">Upload files via Form!</h3>
    <form method="POST" enctype="multipart/form-data" action="/kiki/uploadFiles">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<hr>
<h3 style="color:blue">Download File</h3>

<a href="/kiki/download">Download Now</a>

<hr>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>


<hr>

<h3 style="color:blue">Upload files via Ajsx</h3>

<button onclick="pushMe1();">Press Me1</button>
<button onclick="pushMe2();">Press Me2</button>
</body>


</html>